.list {
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 5px;
  .item {
    width: 45px;
    height: 45px;
    border: 1px solid #fe5f1e;
    border-radius: 50%;
    background-color: transparent;
    color: #fe5f1e;
    text-decoration: none;
    transition: all 0.1s linear;
    @media (max-width: 695px) {
      width: 35px;
      height: 35px;
    }
    @media (max-width: 424px) {
      width: 30px;
      height: 30px;
    }
    &.active {
      background-color: #fe5f1e;
      color: #fff;
    }
    &:hover {
      background-color: #f24701;
      border-color: #f24701;
      color: #fff;
      cursor: pointer;
      transform: scale(1.05);
    }
    &:active {
      background-color: #e74200;
      border-color: #e74200;
      color: #fff;
      transform: scale(0.95);
    }
  }
}
