.pizzas {
  display: grid;
  gap: 35px 0;
  /* grid-template-columns: repeat(2, minmax(min-content, max-content)); */
  /* grid-template-columns: 100px minmax(min-content, max-content); */
  justify-content: space-between;
  @media (max-width: 695px) {
    gap: 15px 0;
    grid-template-columns: 1fr;
  }
  .title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    @media (max-width: 695px) {
      grid-column: 1;
      font-size: 24px;
    }
  }
}
