@font-face {
  font-family: 'Nunito';
  src: url('./resources/fonts/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('./resources/fonts/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('./resources//fonts/Nunito-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: transparent;
  width: 9px;
  &-thumb {
    background: rgba(0, 0, 0, 0.4);
    width: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
